
@{
    ViewBag.Title = "Application Administration";
}

<h2>Application Administration</h2>

@Html.ActionLink("Click here to manage the Movies.", "Index", "Movies") <br />
@Html.ActionLink("Click here to manage the reviews.", "Index", "Reviews") <br />
@Html.ActionLink("Click here to manage the users.", "Index", "Account") <br />
@Html.ActionLink("Click here to manage the user roles.", "Index", "IdentityRoles") <br /> 

