@model IEnumerable<FinalApplicationV2.Models.Movies>

@{
    ViewBag.Title = "Search";
}

<h2>Movies</h2>

@{Html.BeginForm("Search", "Breweries", FormMethod.Get);}
    <input type="text" name="q" value="" />
    <input type="submit" value="Search" />
@{Html.EndForm();}

&nbsp;  

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ID }) <br />
                @Html.DisplayFor(modelItem => item.Genre) <br />
                @Html.DisplayFor(modelItem => item.ReleaseDate) <br />

            </td>
        </tr>
    }

</table>

